<!DOCTYPE html>
<html lang="en">
{% extends 'MartApp/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>complete</title>
</head>
<body>
{% block content %}
<div style="background-color:#9ac234">
<br>
    <div class="row justify-content-center mt-5" style="padding-left:15px;padding-right:15px;">
        <div class="col-md-5">
            {% for message in messages %}
            <div class="alert {{ message.tags }} m-2 shadow" id="msg" role="alert">
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row justify-content-center mt-5 "  style="padding-left:15px;padding-right:15px;">
        <div class="col-md-10 second"  style="color:#282ed4;margin-top:-30px">
            <h1>Completed {{marts.count}} Item{{marts.count|pluralize}}</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5"  style="padding-left:15px;padding-right:15px;">
        <div class="col-md-10" style="padding-bottom:40px;">
            <div class="list-group" >
                {% for mart in marts %}
                    <a style="margin-bottom:20px;" href="{% url 'detail' mart.pk %}" class="myshade  list-group-item list-group-item-action{% if mart.important %} list-group-item-danger{% endif %}"><b>{{ mart.title }}</b> - Completed {{ mart.datecompleted|date:'M j Y H:i' }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
</body>

</html>