<!DOCTYPE html>
<html lang="en">
{% extends 'MartApp/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div style="background-color:#9ac234">
<br>
    <div class="row justify-content-center mt-5" style="padding-left:15px;padding-right:15px;">
        <div class="col-md-5">
            {% for message in messages %}
            <div class="alert {{ message.tags }} m-2 shadow" id="msg" role="alert">
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}


            {% if user.is_authenticated %}
            <div class="row justify-content-center mt-" style="padding-left:1px;padding-right:15px;">
                <div class="col-md-12 second" style="color:#282ed4;margin-bottom:10px;margin-top:-30px">
                    <h2>Update  Item </h2>
                </div>
            </div>


            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title"><h5>Title :</h5></label><br>
                    <h4 class="shadow" style="margin-right:255px;">{{form.title}}</h4>
                </div>

                <div class="form-group">
                    <label for="image"><h5>Image :</h5></label><br>
                    <h5 class="shadow" style="padding-left:10px;padding-top:10px;padding-bottom:10px;background-color:white;margin-right:30px">
                        {{form.image}}</h5>
                </div>

                <div class="form-group">
                    {{form.offer}}
                    <label for="offer"><h5>Offer :</h5></label>
                </div>

                <div class="form-group" style="margin-top:-40px">
                    <label for="price"></label><h5>Price :</h5></label>
                    <h4 class="shadow" style="margin-right:255px">{{form.price}}</h4>
                </div>

                <div class="form-group">
                    <label for="desc"><h5>Description :</h5></label><br>
                    <h5 class="shadow" style="margin-right:143px;background-color:white;">{{form.desc}}</h5>
                </div>

                <div class="form-group">
                    {{form.important}}
                    <label for="important"><h5>Important </h5></label>
                </div>

                <button style="margin-bottom:10px;margin-top:-10px;" type="submit" class="btn btn-warning ig">Update</button>
            </form>

            {% endif %}
        </div>
    </div>
<hr>
</div>


{% endblock %}
</body>
</html>