<!DOCTYPE html>
{% extends 'MartApp/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
{% block content %}


<div style="background-color:#9ac234">
<br>


  <div class="row justify-content-center mt-5" style="padding-left:15px;">
        <div class="col-md-5">
            <h2 class="second" style="color:#ff6a00;margin-top:-20px">Sign Up</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5" style="padding-left:15px;padding-right:15px;">
        <div class="col-md-5">
            {% for message in messages %}
                <div class="alert alert-danger shadow" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                   <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" class="form-control shadow" id="first_name" aria-describedby="first_nameHelp" required>
                    <small id="first_nameeHelp" class="form-text text-muted">Your first name must be unique. We'll let you know if someone has taken it already.</small>
                </div>
                   <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" class="form-control shadow" id="last_name" aria-describedby="last_nameHelp" required>

                </div>
                   <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control shadow" id="email" aria-describedby="emailHelp" required>
                  <small id="last_nameHelp" class="form-text text-muted">Your Last name must be unique. We'll let you know if someone has taken it already.</small>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control shadow" id="username" aria-describedby="usernameHelp" required>
                    <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small>
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" name="password1" class="form-control shadow" id="password1" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" class="form-control shadow" id="password2" required>
                </div>
                <button type="submit" class="btn btn-primary ig">Sign Up</button>
            </form>
            <hr>
            <div class="text-center">
                Do you already have an account? <a href="{% url 'login' %}">Login here</a>
            </div>
        </div>
    </div>
<hr>

</div>
<!--

<h1>SignUp Page</h1>

{% for message in messages %}
<h2>{{message}}</h2>
{% endfor %}

<form method="post">
{% csrf_token %}
    <label for="first_name">First Name :</label>
    <input type="text" name="first_name" placeholder="first name" required><br><br>
    <label for="Last Name">Last Name :</label>
    <input type="text" name="last_name" placeholder="last name"required><br><br>
      <label for="username">Username :</label>
    <input type="text" name="username" placeholder="username"required ><br><br>
    <label for="Email">Email :</label>
    <input type="email" name="email" placeholder="example@.com"required><br><br>
    <label for="Password">Password :</label>
    <input type="password" name="password1" required><br><br>
    <label for="Confirm Password">Confirm Password :</label>
    <input type="password" name="password2" required><br><br>
    <input type="submit" value="SignUp">

</form>
-->

{% endblock %}

</body>
</html>
